@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

/* .editor {
  justify-content: center;
} */

/* .editor > .quill-toolbar.quill-snow {
  display: flex;
  justify-content: center;
} */

/* .editor {
  display: flex;
  justify-content: center;
} */

/* .editor .quill-toolbar.quill-snow {
  width: "100%";
} */

.text-editor .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 56px;
  z-index: 1;
  background-color: white;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.text-editor .ql-container.ql-snow {
  width: 8.5in;
  min-height: 11in;
  height: 10in;
  padding: 1in;
  margin-top: 1rem;
  margin-left: auto;
  margin-bottom: 1rem;
  margin-right: auto;
  /* margin: 1rem 0 1rem 0; */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}
